<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" th:href="@{/static/css/forgetPass.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <title>Forget-Password Form</title>
</head>
<body>
<div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Forget password Form</span>
            <div class="login-signup">
                <span class="text">Remember your password? <a th:href="@{/login}" class="text signup-text">Login here</a></span>
            </div>
            <form id="forgotForm" th:action="@{/forgot-password}" method="post">
                <div class="input-field">
                    <label>
                        <input type="text" name="email" placeholder="Email address" required>
                    </label>
                    <i class="uil uil-user icon"></i>
                </div>
                <div class="input-field button">
                    <input type="submit" value="Reset password">
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/static/js/forgot.js}"></script>
<script th:src="@{/static/js/script.js}"></script>
</body>
</html>
