<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" th:href="@{/static/css/register.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>Tiệm sách</title>
    <link rel="icon" type="image/svg+xml" href="https://png.pngtree.com/template/20190809/ourmid/pngtree-reading-book-logo-designs-image_291340.jpg" />
</head>
<body>
<div class="container">
    <div class="forms">
        <div class="form register">
            <span class="title">Đăng ký</span>
            <form id="registerForm" action="/register" method="post">
                <div class="input-row">
                    <div class="input-field">
                        <input type="text" name="fullname" placeholder="Nhập họ và tên" required>
                        <i class="uil uil-user icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" name="username" placeholder="Nhập tên đăng nhập" required>
                        <i class="uil uil-user icon"></i>
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-field">
                        <input type="email" name="email" placeholder="Nhập Email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Nhập số điện thoại" required>
                        <i class="uil uil-phone icon"></i>
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Nhập mật khẩu" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" class="password" placeholder="Xác nhận lại mật khẩu"
                               required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-field">
                        <label for="gender">Giới tính:</label>
                        <select id="gender" name="gender">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="role">Vai trò:</label>
                        <select id="role" name="role">
                            <option value="CUSTOMER">Người dùng</option>
                            <option value="SELLER">Người bán</option>
                        </select>
                    </div>
                </div>



                <div class="input-field button">
                    <input type="submit" value="Đăng ký ngay">
                </div>
            </form>

            <div class="login-signup">
                <span class="text">Bạn đã có sẵn tài khoản ? <a th:href="@{/login}"
                                                               class="text signup-text">Đăng nhập ngay</a></span>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/static/js/script.js}"></script>
</body>
</html>
