@import 'base/color.css';
@import 'base/font.css';
@import 'base/size.css';
@import 'base/common.css';

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-cart{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 60vh;
}

.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-color);
}

.content_left,
.content_right {
    border-radius: 3vh;
    padding: 10px;
    height: fit-content;
}

/* Content - Left */

.content_left {
    margin: 10px 5px 10px 30px;
    background: linear-gradient(var(--background-color) 0 0) padding-box,
    linear-gradient(to bottom, var(--header-color), var(--header-color), var(--header-color), var(--footer-color)) border-box;
    border: 2px solid transparent;
    border-radius: 15px;
    width: var(--cart-content-left-width-size);
    height: var(--cart-content-left-height-size);
}

/* List Product */

.product-list {
    padding: 1vh;
}

/* Product */

.product_details-container {
    width: var(--cart-product-item-width-size);
    height: var(--cart-product-item-height-size);
}


table {
    display: flex;
    flex-direction: row;
}

table tbody {
    flex: 1;
    display: flex;
    flex-direction: row;
}

tbody tr {
    display: flex;
    flex-direction: column;
}

table td {
    margin: 5px 2px 2px 5px;
}

.product_details-left {
    flex: 1;
}

/* Product - Image */

.product-img-container {
    width: 130px;
    height: 130px;

}

.product_img-frame {
    width: 130px;
    height: 130px;
}

.product_img {
    width: 100%;
    height: auto;
    display: block;
}

/* Product - Details */

.product_details button {
    width: var(--cart-button-size);
    height: var(--cart-button-size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-minus {
    border-radius: 50% 0 0 50%;
    background-color: transparent;
    border: 1px solid black;
}

.button-add {
    background-color: transparent;
    border-radius: 0 50% 50% 0;
    border: 1px solid black;
}

.button-minus ion-icon,
.button-add ion-icon {
    font-size: 50px;
}

.button-remove {
    border: 0;
    background: inherit;
}

.button-remove ion-icon {
    transition: color 0.3s;
}

.button-remove:hover {
    color: var(--cancel-color);
    width: 30px;
    height: 30px;
}

.button-remove:hover ion-icon {
    font-size: 50px;
}

.input-quantity {
    outline: none;
    height: 20px;
}

.product-title {
    word-wrap: break-word;
}

.product-current-price {
    font-size: 0.9em;
}

.product_custom-number {
    width: 100%;
    height: 100%;

}

.product_custom-number-control {
    height: 100%;
    display: flex;
    flex-direction: row;

}

.product_custom-number input {
    width: var(--cart-input-width-size);
    height: var(--cart-input-height-size);
}

.product-qty {
    font-size: var(--text-size);
}

.product_details-right {
    display: flex;
    text-align: right;
    align-items: end;
}

.product-control {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

/* Content - Right*/

.content_right {
    margin: 10px 30px 10px 5px;
    background: linear-gradient(var(--background-color) 0 0) padding-box,
    linear-gradient(to bottom, var(--header-color), var(--header-color), var(--header-color), var(--footer-color)) border-box;
    border: 2px solid transparent;
    border-radius: 15px;
    width: var(--cart-content-right-width-size);
    height: fit-content;
}

.content_right li {
    text-align: justify;
}

.content_right-title {
    margin-top: 5px;
}

.total-amount-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.total-amount-container p {
    font-size: 1.4em;
    flex: 1;
    text-align: right;
}

.continue-button {
    width: var(--cart-button-continue-width-size);
    height: var(--cart-button-continue-height-size);
    border-radius: 15px;
    cursor: pointer;
}

.continue-button:hover {
    color: var(--content-color);
    background-color: var(--header-color);
    border: 1px solid var(--content-color);
    transition: color 0.3s;
}

/*Empty*/

.empty-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-cart-frame {
    width: 300px;
    height: 300px;
}

.empty-cart-img {
    width: 100%;
    height: auto;
    display: block;
}

.empty-content button {
    height: var(--cart-button-continue-height-size);
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
}

.empty-content button:hover {
    color: var(--content-color);
    background-color: var(--header-color);
    border: 1px solid var(--content-color);
    transition: color 0.3s;
}