.mess{
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    z-index: 2;
    margin-top: 20px;
    margin-left: 20px;
}

.complete{
    background-color: var(--complete-background-color);
    border: 3px solid var(--complete-color);
}

.error{
    background-color: var(--error-background-color);
    border: 3px solid var(--error-color);
}

.mess button{
    background: transparent;
    border: 0;
    cursor: pointer;
}

.mess p{
    flex: 99;
    padding: 1px 5px 1px 10px;
}

.mess button ion-icon{
    font-size: 25px;
}

.complete button:hover ion-icon{
    color: var(--complete-color);
}

.error button:hover ion-icon{
    color: var(--error-color);
}

