@import 'base/color.css';
@import 'base/font.css';
@import 'base/size.css';
@import 'base/common.css';


#content{
    display: flex;
    flex-direction: column;
}

.favorites-manage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 2.5em;
    color: var(--header-color);
}

.favorites-list{
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    align-items: center;
    margin-bottom: 20px;
    background:
            linear-gradient(var(--background-color) 0 0) padding-box,
            linear-gradient(to bottom, var(--header-color), var(--header-color), var(--header-color), var(--footer-color)) border-box;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 10px;
}

.favorite-item{
    position: relative;
    height: 320px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    background-color: var(--placeholder-color);
}

.img-frame{
    height: 300px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 15px;
    overflow: hidden;
}

.img-frame img{
    height: auto;
    width: 170px;
    border: 1px solid transparent;
    border-radius: 15px;
}

.overlay-text {
    height: 30px;
    width: 35px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: red;
    border-radius: 50% 0 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.favorite-item h4{
    margin: 2px;
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 0.3s;
    text-align: center;
    text-decoration: none;
}

.favorite-item p{
    margin: 2px;
    transition: color 0.3s;
    text-decoration: none;
}

.favorite-item:hover {
    background: var(--header-color);
}

.favorite-item:hover h4{
    color: white;
}

.favorite-item:hover p{
    color: white;
}

.empty-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.empty-content img{
    width: 200px;
    height: 200px;
}

.return-button{
    text-decoration: none;
    padding: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    transition: color 0.3s;
}

.return-button:hover{
    color: var(--content-color);
    background-color: var(--header-color);
    border: 1px solid var(--content-color);
}
