@import 'base/color.css';
@import 'base/font.css';
@import 'base/size.css';
@import 'base/common.css';

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-details-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-information{
    width: 400px;
}

.product-information-item button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.product-information-item .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
}

.product-information-item img{
    width: 20px;
    height: 20px;
}

.product-information-item h3{
    flex: 1;
    text-align: start;
    padding: 10px;
}

.product-information-details {
    height: 0px;
    transition: height 1s ease-in-out;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.icon-show,
.icon-hide{
    font-size: 20px;
}

.icon-hide {
    display: none;
}

.product-information-item:hover .product-information-details {
    display: flex;
    height: 200px;
}

.product-information-item:hover .icon-hide {
    display: flex;
}

.product-information-item:hover .icon-show {
    display: none;
}

.shop-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--placeholder-color);
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shop-container h4{
    flex: 1;
    text-align: start;
    margin: 10px;
}

.shop-container ion-icon{
    font-size: 25px;
    margin-right: 5px;
}

.avatar-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avatar-container img{
    width: 50px;
    height: 50px;
}

.shop-container:hover{
    background-color: var(--header-color);
}

.shop-container:hover h4{
    color: white;
}

.shop-container:hover ion-icon{
    color: white;
}

.product-img-container{
    height: 600px;
    max-width: 400px;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-img-frame{
    height: 500px;
    width: 400px;
    border: 1px solid transparent;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-img{
    height: 500px;
    width: auto;
    border: 1px solid transparent;
    border-radius: 15px;
}

.product-information-favorite{
    width: 300px;
    display: flex;
    justify-content: end;
}

#heart {
    position: absolute;
    display: none;
}

[for="heart"] {
    color: rgb(237, 237, 237);
    cursor: pointer;
    font-size: 2em;
    align-self: center;
    transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
    color: var(--header-color);
}

[for="heart"]::selection {
    color: none;
    background: transparent;
}

[for="heart"]::moz-selection {
    color: none;
    background: transparent;
}

[id="heart"]:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}

.product-information-for-sale {
    margin-left: 50px;
    width: 300px;
}

.product-control {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
}

.product-control p{
    width: 100px;
}

.product-control input{
    border: none;
    border-bottom: 1px solid black;
}


.curr-price{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.percent-discount {
    margin: 5px;
    font-size: 0.6em;
    top: 5px;
    right: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: red;
    border-radius: 50% 0 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 2px 2px;
}

.button-minus,
.button-add{
    border: 1px solid black;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-minus{
    border-radius: 50% 0 0 50%;
}

.button-add{
    border-radius: 0 50% 50% 0;
}

.button-minus ion-icon,
.button-add ion-icon{
    font-size: 20px;
}

.input-quantity{
    outline: none;
    width: 70px;
    height: 30px;
}

.btn-add-to-cart{
    height: var(--cart-button-continue-height-size);
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-add-to-cart:hover {
    color: var(--content-color);
    background-color: var(--header-color);
    border: 1px solid var(--content-color);
    transition: color 0.3s;
}

.comments-container{
    width: 1200px;
    margin-bottom: 10px;
}

.comments-container hr{
    width: 100%
}

.comment-list{
    margin: 5px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.comment-details{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.comment-details h4{
    margin: 0px;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.comment-details h4 ion-icon{
    color: var(--header-color);
    margin: 5px;
}

.comment-content{
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--placeholder-color);
    border-radius: 15px;
    word-wrap: break-word;
    text-align: justify;
    cursor: pointer;
    margin: 0;
    margin-left: 10px;
}

.feedback-details{
    margin-top: 5px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: auto;
    display: none;
}

.feedback-details ion-icon{
    font-size: 30px;
}

.feedback-content{
    flex: 1;
    padding: 10px;
    margin: 5px 0 5px 5px;
    background-color: var(--placeholder-color);
    border-radius: 15px;
    word-wrap: break-word;
    text-align: justify;
    animation: slideaway 200ms;
}

.comment-details:hover .feedback-details{
    display: flex;
}

.product-information-details{
    display: flex;
    flex-direction: column;
}

.product-information-details *{
    margin: 0;
}

.curr-price,
.quantity,
.amount-purchased,
.product-information-details div,
.empty-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.empty-content img{
    width: 30px;
    height: 30px;
}