

/* Sidebar */
.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F0F2F5;
    overflow-x:hidden;
}

.home_middle {
    width: 1304px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


