<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng của bạn</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link rel="stylesheet" th:href="@{/css/message.css}">
</head>
<body>
<header>

</header>
<section id="content">
    <h1 class="content-title">Giỏ Hàng Của Bạn</h1>
    <div class="content-cart">
        <div th:if="${successMessage}" id="successMessage" class="mess complete" role="alert">
            <p th:text="${successMessage}"></p>
            <button class="close-mess">
                <ion-icon name="close-circle-outline"></ion-icon>
            </button>
        </div>

        <div th:if="${errorMessage}" id="errorMessage" class="mess error" role="alert">
            <p th:text="${errorMessage}"></p>
            <button class="close-mess">
                <ion-icon name="close-circle-outline"></ion-icon>
            </button>
        </div>
        <th:block th:if="${not #lists.isEmpty(cart)}">
            <div class="content_left">
                <div class="product-list" th:each="cartItem: ${cart}">
                    <table class="product_details-container">
                        <thead>
                        <tr class="product-img-container">
                            <th>
                                <div class="product_img-frame">
                                    <a href="#">
                                        <img class="product_img" alt="Product Image"
                                             th:src="@{images/temp-product.png}">
                                    </a>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="product_details">
                        <tr class="product_details-left">
                            <td class="product-title">
                                <a href="#">
                                    <strong th:text="${cartItem.product.item.title}"/>
                                </a>
                            </td>
                            <th:block th:if="${not (cartItem.product.isBlocked || cartItem.product.isDeleted)}">
                                <td class="product-current-price" th:text="${cartItem.product.formatCurrentPrice}"/>
                                <td class="product-price" style="font-size: 0.75em;">
                                    <th:block th:if="${cartItem.product.discountPercent ne 0}">
                                        <del th:text="${cartItem.product.formatPrice}"/>
                                    </th:block>
                                </td>
                                <td class="product_custom-number" style="height: 100%;">
                                    <form th:action="@{/cart/updateQuantity}" class="product-control" th:method="post">
                                        <input type="hidden" name="id" th:value="${cartItem.id}"/>
                                        <button class="button-minus" name="qtyChange" value="-1">
                                            <ion-icon name="remove-outline"></ion-icon>
                                        </button>
                                        <input class="input-quantity" type="text" name="productNumber"
                                               th:value="${cartItem.qty}" min="0" th:max="${cartItem.product.stockQty}">
                                        <button class="button-add" name="qtyChange" value="1">
                                            <ion-icon name="add-outline"></ion-icon>
                                        </button>
                                    </form>
                                </td>
                            </th:block>

                            <th:block th:if="${(cartItem.product.isBlocked || cartItem.product.isDeleted)}">
                                <td class="product-current-price" th:text="${cartItem.product.formatPrice}"/>
                            </th:block>
                        </tr>
                        <tr class="product_details-right">
                            <th:block th:if="${not (cartItem.product.isBlocked || cartItem.product.isDeleted)}">
                                <td class="product-qty" th:text="${cartItem.formatQty}"/>
                                <td class="product-total-price" th:text="${cartItem.formatTotalPrice}"/>
                            </th:block>
                            <th:block th:if="${(cartItem.product.isBlocked || cartItem.product.isDeleted)}">
                                <td style="color: red;">Sản phẩm không tổn tại</td>
                            </th:block>
                            <td class="product-control" style="height: 100%;">
                                <form th:action="@{/cart/delete}" th:method="post">
                                    <input type="hidden" name="id" th:value="${cartItem.id}"/>
                                    <button value="Remove Item" class="button-remove">
                                        <ion-icon name="trash-outline"></ion-icon>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>
            <div class="content_right">
                <h3 class="content_right-title">Thông tin:</h3>
                <hr>
                <b>Chính sách giao hàng:</b>
                <li>Phí giao hàng 30.000đ đối với ngoại thành, 15.000đ đối với khu vực thành phố Hồ Chí Minh.
                </li>
                <li>Miễn phí giao hàng cho đơn từ 500.000đ.</li>
                <li>Miễn phí hoàn trả nếu có lỗi.</li>
                <hr>
                <div class="total-amount-container">
                    <h3>Tổng đơn:</h3>
                    <p th:text="${totalPrice}">
                </div>
                <hr>
                <form th:action="@{/inforDelivery}" th:method="get">
                    <button class="continue-button">Tiếp tục</button>
                </form>
            </div>
        </th:block>
        <div th:if="${#lists.isEmpty(cart)}" class="empty-content">
            <div class="empty-cart-frame">
                <img class="empty-cart-img" th:src="@{images/cart-empty.png}">
            </div>
            <p class="empty-cart-text">Giỏ hàng của bạn đang rỗng! Hãy cùng mua hàng nào!</p>
            <button>Tiếp tục mua hàng</button>
        </div>
    </div>

</section>
<footer>

</footer>
<script th:src="@{/js/message.js}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>