<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng của bạn</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/images/icon_address_bar.png}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link rel="stylesheet" th:href="@{/css/message.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:replace="header :: header"></div>
<section id="content">
    <div th:if="${successMessage}" id="successMessage" class="mess complete" role="alert">
        <p th:text="${successMessage}"/>
        <button class="close-mess">
            <ion-icon name="close-circle-outline"></ion-icon>
        </button>
    </div>
    <div th:if="${errorMessage}" id="errorMessage" class="mess error" role="alert">
        <p th:text="${errorMessage}"/>
        <button class="close-mess">
            <ion-icon name="close-circle-outline"></ion-icon>
        </button>
    </div>
    <div class="content-cart">
        <h1 class="content-title">Giỏ Hàng Của Bạn</h1>
        <div class="cart-container">
            <th:block th:if="${not #lists.isEmpty(cart)}">
                <div class="content_left">
                    <div class="product-list" th:each="cartItem: ${cart}">
                        <table class="product_details-container">
                            <thead>
                            <tr class="product-img-container">
                                <th>
                                    <div class="product_img-frame">
                                        <a th:href="@{'/product/' + ${cartItem.product.id}}">
                                            <img class="product_img" alt="Product Image"
                                                 th:src="@{'/images/product/' + ${cartItem.product.id} + '.png'}">
                                        </a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="product_details">
                            <tr class="product_details-left">
                                <td class="product-title">
                                    <a th:href="@{'/product/' + ${cartItem.product.id}}">
                                        <strong th:text="${cartItem.product.item.title}"/>
                                    </a>
                                </td>
                                <th:block
                                        th:if="${not (cartItem.product.isBlocked || cartItem.product.isDeleted || cartItem.product.stockQty<=0)}">
                                    <td class="product-current-price" th:text="${cartItem.product.formatCurrentPrice}"/>
                                    <td class="product-price" style="font-size: 0.75em;">
                                        <th:block th:if="${cartItem.product.discountPercent ne 0}">
                                            <del th:text="${cartItem.product.formatPrice}"/>
                                        </th:block>
                                        <div style="display: flex; flex-direction: row; align-items: center;">
                                            <p>Còn lại:&nbsp;</p>
                                            <p th:text="${cartItem.product.stockQty}"/>
                                        </div>
                                    </td>
                                    <td class="product_custom-number" style="height: 100%;">
                                        <form th:action="@{/cart/updateQuantity}" th:method="post"
                                              class="product-form">
                                            <input type="hidden" name="id" th:value="${cartItem.id}"/>
                                            <input type="hidden" name="qtyChangeInput" class="qtyChangeInput"/>
                                            <input type="hidden" name="event" class="eventInput"/>
                                            <div class="product-control">
                                                <button class="button-minus" onclick="submitForm(this, -1, 'button')">
                                                    <ion-icon name="remove-outline"></ion-icon>
                                                </button>
                                                <input class="input-quantity" type="text"
                                                       th:placeholder="${cartItem.qty}"
                                                       onkeypress="handleKeyPress(event)"
                                                       onchange="submitForm(this, this.value, '')"/>
                                                <button class="button-add" onclick="submitForm(this, 1, 'button')">
                                                    <ion-icon name="add-outline"></ion-icon>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </th:block>

                                <th:block
                                        th:if="${(cartItem.product.isBlocked || cartItem.product.isDeleted || cartItem.product.stockQty<=0)}">
                                    <td class="product-current-price" th:text="${cartItem.product.formatPrice}"/>
                                </th:block>
                            </tr>
                            <tr class="product_details-right">
                                <th:block
                                        th:if="${not (cartItem.product.isBlocked || cartItem.product.isDeleted || cartItem.product.stockQty<=0)}">
                                    <td class="product-qty" th:text="${cartItem.formatQty}"/>
                                    <td class="product-total-price" th:text="${cartItem.formatTotalPrice}"/>
                                </th:block>
                                <th:block
                                        th:if="${(cartItem.product.isBlocked || cartItem.product.isDeleted)}">
                                    <td style="color: red;">Sản phẩm không tổn tại</td>
                                </th:block>
                                <th:block th:if="${(cartItem.qty > cartItem.product.stockQty || cartItem.product.stockQty<=0) && not (cartItem.product.isBlocked || cartItem.product.isDeleted)}">
                                    <td style="color: red;">Sản phẩm không còn đủ hàng</td>
                                </th:block>
                                <td class="product-control" style="height: 100%;">
                                    <form th:action="@{/cart/delete}" th:method="post">
                                        <input type="hidden" name="id" th:value="${cartItem.id}"/>
                                        <button value="Remove Item" class="button-remove">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                </div>
                <div class="content_right">
                    <h3 class="content_right-title">Thông tin:</h3>
                    <hr>
                    <b>Chính sách giao hàng:</b>
                    <li>Miễn phí giao hàng.</li>
                    <li>Miễn phí hoàn trả nếu có lỗi.</li>
                    <hr>
                    <div class="total-amount-container">
                        <h3>Tổng đơn:</h3>
                        <p th:text="${totalPrice}">
                    </div>
                    <hr>
                    <form th:action="@{/inforDelivery}" th:method="get" th:if="${not #lists.isEmpty(activeCart)}">
                        <button class="continue-button">Tiếp tục</button>
                    </form>
                </div>
            </th:block>
            <div th:if="${#lists.isEmpty(cart)}" class="empty-content">
                <div class="empty-cart-frame">
                    <img class="empty-cart-img" th:src="@{images/cart-empty.png}">
                </div>
                <p class="empty-cart-text">Giỏ hàng của bạn đang rỗng! Hãy cùng mua hàng nào!</p>
                <a class="return-button" th:text="'Tiếp tục mua hàng'" th:href="@{/home}"/>
            </div>
        </div>
    </div>

</section>
<footer>

</footer>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/message.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<script>
    function submitForm(element, qtyChange, event) {
        // Tìm form gần nhất với class "product-form"
        var form = element.closest('form.product-form');
        if (!form) {
            console.error("Form không được tìm thấy.");
            return;
        }

        // Tìm các input bên trong form
        var qtyChangeInput = form.querySelector('.qtyChangeInput');
        var eventInput = form.querySelector('.eventInput');
        var idInput = form.querySelector('input[name="id"]');

        if (qtyChangeInput && eventInput && idInput) {
            qtyChangeInput.value = qtyChange;
            eventInput.value = event;
            form.submit();
        } else {
            console.error("Input qtyChange hoặc event hoặc id không được tìm thấy.");
        }
    }

    function handleKeyPress(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
        }
    }
</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>