<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phương thức thanh toán</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/images/icon_address_bar.png}">
    <link rel="stylesheet" th:href="@{/css/methodPayment.css}">
    <link rel="stylesheet" th:href="@{/css/message.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:replace="header :: header"></div>
<section id="content">
    <div class="method_payment-content">
        <div th:if="${successMessage}" id="successMessage" class="mess complete" role="alert">
            <p th:text="${successMessage}"/>
            <button class="close-mess">
                <ion-icon name="close-circle-outline"></ion-icon>
            </button>
        </div>
        <div th:if="${errorMessage}" id="errorMessage" class="mess error" role="alert">
            <p th:text="${errorMessage}"/>
            <button class="close-mess">
                <ion-icon name="close-circle-outline"></ion-icon>
            </button>
        </div>
        <div class="content_left">
            <div class="bars">
                <h3 class="bars_title">Choose Method Payment</h3>
            </div>
            <hr>
            <form class="payment-method-list" id="select-method-payment" th:action="@{/payment}" th:method="post">
                <div class="payment-method-item">
                    <input type="radio" name="selectedMethodPayment" value="CASH">
                    <label onclick="selectedPaymentMethod(this)">
                        <img th:src="@{images/cashpayment.png}">
                        <hr>
                        <p class="payment-method_title">CASH</p>
                    </label>
                </div>
                <div class="payment-method-item">
                    <input type="radio" name="selectedMethodPayment" value="MOMO">
                    <label onclick="selectedPaymentMethod(this)">
                        <img th:src="@{images/momo-payment.png}">
                        <hr>
                        <p class="payment-method_title">MOMO WALLET</p>
                    </label>
                </div>
            </form>
        </div>
        <div class="content_right">
            <h3 class="content_right-title">Chi tiết giỏ hàng</h3>
            <hr>
            <div class="product-list">
                <th:block th:if="${not #lists.isEmpty(cart)}">
                    <div class="product-list" th:each="cartItem: ${cart}">
                        <table class="product_details-container">
                            <thead>
                            <tr class="product-img-container">
                                <th>
                                    <div class="product_img-frame">
                                        <img class="product_img" alt="Product Image"
                                             th:src="@{'/images/product/' + ${cartItem.product.id} + '.png'}">
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="product_details">
                            <tr class="product_details-left">
                                <td class="product-title">
                                    <strong th:text="${cartItem.product.item.title}"/>
                                </td>
                                <td class="product-current-price" th:text="${cartItem.product.formatCurrentPrice}"/>
                            </tr>
                            <tr class="product_details-right">
                                <td class="product-qty" th:text="${cartItem.formatQty}"/>
                                <td class="product-total-price" th:text="${cartItem.formatTotalPrice}"/>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                </th:block>
            </div>
            <div class="total-amount-container">
                <h3>Tổng đơn:</h3>
                <p th:text="${totalPrice}">
            </div>
            <hr>
            <button class="btn-continue" onclick="submitForm('select-method-payment')"
                    th:if="${not #lists.isEmpty(cart)}">Thanh toán
            </button>

            <form th:action="@{/inforDelivery}" th:method="get">
                <button class="btn-cancel">Trở lại</button>
            </form>
        </div>
    </div>

</section>
<footer>

</footer>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/methodPayment.js}"></script>
<script th:src="@{/js/message.js}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>