:root {
    --background-color: #ffffff;
    --header-color: #8ccfe3;
    --footer-color:#ff71a3;
    --content-color:rgb(255, 255, 255);
    --text-color: #000000;
    --cancel-color: #ff0000;
    --placeholder-color: #c1c1c1;
    --complete-color: rgb(140, 207, 227);
    --complete-background-color: rgb(140, 207, 227, 0.5);
    --error-color: rgb(255, 0, 0);
    --error-background-color: rgb(255, 0, 0, 0.5);
}