@import 'color.css';
@import 'font.css';
@import 'size.css';

body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    font-size: var(--text-size);
    background-color: var(--background-color);
}

header{
    width: 100%;
    height: 10vh;
    background-color: var(--header-color);
}

#content{
    height: auto;
    flex: 1;
    background-color: var(--content-color);
}

footer{
    width: 100%;
    height: 10vh;
    background-color: var(--footer-color);
}