<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" th:href="@{/static/css/forgetPass.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <title>Reset-Password Form</title>
</head>
<body>
<div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Reset password Form</span>
            <form id="resetForm" th:action="@{/reset-password}" method="post">
                <!-- Thêm một input ẩn để chứa giá trị email -->
                <input type="hidden" th:name="email" th:value="${email}" />
                <div class="input-field">
                    <input type="password" name="password" class="password" placeholder="New password" required>
                    <i class="uil uil-lock icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="password" placeholder="Confirm your new password" required>
                    <i class="uil uil-lock icon"></i>
                </div>

                <div class="input-field button">
                    <input type="submit" value="Reset Password">
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/static/js/reset.js}"></script>
<script th:src="@{/static/js/script.js}"></script>
</body>
</html>
